body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333333;
}

form {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    padding: 20px;
    background-color: #ffffff;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    height: 40px;
    border: 1px solid #999999;
    border-radius: 5px;
}

button {
    margin: 20px auto;
    text-align: center;
}

#lopez, #zamora {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media screen and (max-width: 600px) {
    #encuesta {
        display: block;
        width: 90%;
    }
}